# Virtual environments
.venv/
venv/
env/
bin/
lib/
share/
Include/
Scripts/
pyvenv.cfg

# Python
__pycache__/
*.py[cod]
*$py.class

# Environment variables
.env

# Flutter/Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.packages
build/
*.log

# IDEs
.vscode/
.idea/
*.iml

# OS files
Thumbs.db
Desktop.ini
